.text {
    font-size: 2rem;
    font-weight: 600;
    color: var(--black-60);
    margin-bottom: 0.5rem;

    @media (max-width: 768px) {
        font-size: 1.125rem;
    }
}

.default {
    color: var(--black-100);
}

.secondary {
    color: var(--black-60);
}