.header {
  padding: 7.625rem 5rem;

  @media (max-width: 1200px) {
    padding: 7.625rem 2rem;
  }

  @media (max-width: 769px) {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}